/* Main chart colors */
.F {
	/* Firewall blocked */
	fill: #000;
	background-color: #000;
}
.f {
	/* Firewall logged */
	fill: #666;
	background-color: #666;
}

.I {
	/* IPS alert */
	fill: #29A329;
	background-color: #29A329;
}
.i {
	/* IPS notification */
	fill: #29A329;
	background-color: #29A329;
}

.D {
	/* Download alert */
	fill: #B366B3;
	background-color: #B366B3;
}
.d {
	/* Download detected */
	fill: #B366B3;
	background-color: #B366B3;
}

.V {
	/* AV Threat found (not cleaned) */
	fill: #f00;
	background-color: #f00;
}
.v {
	/* AV Threat found (cleaned) */
	fill: #f00;
	background-color: #f00;
}
rect .V {
	width: 4px;
	height: 4px;
	z-index: 100;
}
rect .v {
	width: 4px;
	height: 4px;
	z-index: 100;
}

.U {
	/* Virus Definition Update */
	fill: #ccc;
	background-color: #ccc;
}
.X {
	/* Last Checkin Time */
	fill: #aaa;
	background-color: #aaa;
}

.C {
	/* User Control alert */
	fill: steelblue;
	background-color: steelblue;
}
.c {
	/* User Control notification */
	fill: #2E8AE6;
	background-color: #2E8AE6;
}

.blocked {
	fill: #f00;
}

.severity-critical {
	fill: #f00;
}

.severity-high {
	fill: #ff6a00;
}

.severity-medium {
	fill: #ffd800;
}

.severity-low {
	fill: #33cc33;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
//	display: none;
}

.gridline {
	stroke: #ccc;
}

.headerTable {
	margin: 7px;
	border-spacing: 8px;
}

#details > table {
    font-size: 0.75em;
}

#details > table th {
	text-align: left;
}

td.header {
	text-align:left;
	width:100%;
}

td.sumheader {
	margin: 10px;
    vertical-align:top;
	width:100%;
	text-align:center;
	border: 1px solid black;
}

.d3-tip {
	background: rgba(0, 0, 0, 0.85);
	border-radius: 2px;
	color: #fff;
	font-size: small;
	font-weight: bold;
	line-height: 1;
	padding: 12px;
	z-index: 100;
}

#chart {
	border: 1px solid #000;
	padding: 0px;
}

.ui-menu { width: 200px; }
.ui-widget-header { padding: 0.2em; }